.top-bar a{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    margin-right: 5px;
}


.top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* background-color: #333; */
    border-radius: 8px;
    padding: auto;
    border-color: aquamarine;

}
.button{
padding: 10px;
background-color: #081728;
color: #184354;
border-radius: 10px;
text-decoration: none;
text-align: center;
}

.top-bar li {
    float: left;
}

.top-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

/* Change the link color to #111 (black) on hover */
.top-bar li a:hover {
    background-color: rgb(33, 179, 118);
}


img {
    border-radius: 8px;

   
}
input{
    border-radius: 8px;
    padding: 0;
    border-color: blue
}
.bottom{
    
    background: #184354;
    background: -moz-linear-gradient(top, #184354 30%, #081728 100%);
    background: -webkit-linear-gradient(top, #184354 30%,#081728 100%);
    background: linear-gradient(to bottom, #184354 30%,#081728 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184354', endColorstr='#081728',GradientType=0 );
    padding-top: 50px;
}

.footer li{
    padding-right: 200px
}

.very{ 
    background: #eeeeee;
background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
}
body{
    font-family: 'Oswald', sans-serif;

}
.change a{
    background-color: orange;
}

.tippy a{
    margin: 0px;
    background-color: #121e29;


    padding: 0px;
    margin: 0px;
    float: none;

}
.top-navb{
    overflow: hidden;
  background-color: #333;
  
}
.top-navb a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17px;
}